{% extends 'layout.html' %}

{% block container %}
<div class="d-inline-block">
  <h2>Listado de tareas</h2>
  <a href="{{url_for('.new_task')}}">Nueva tarea</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Descripción</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>
        <a href="{{url_for('.get_task', task_id=task.id)}}">{{task.title}}</a>
      </td>
      <td>{{task.little_description}}</td>
      <td>
        <a href="{{ url_for('.edit_task', task_id=task.id)}}" class="btn btn-primary">Editar</a>
        <a href="{{ url_for('.delete_task', task_id=task.id)}}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav>
  <ul class="pagination">
    {% if pagination.has_prev %}
      <li class="page-item">
        <a href="{{ url_for('.tasks', page=page-1) }}" class="page-link">Previous</a>
      </li>
    {% endif %}

    {% if pagination.has_next %}
      <li class="page-item">
        <a href="{{ url_for('.tasks', page=page+1) }}" class="page-link">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
